doctype html
html
	head
		title
	body
		h1#title.title2.title jade study
		h2(id='title3',class="title4")
		div.id.classname
			a(href="www.baidu.com") link
		input(name='course',type='text',value='jada')